# Function assignment 1

In [38]:
# 1.

def find_max(num_lst=[]):
    """
    get a list of nums
    return a max num in list
    """
    if type(num_lst) != list:
        return "Invalid list"
    
    max_num = 0
    for num in num_lst:
        if num > max_num:
            max_num = num
    return max_num

In [14]:
find_max([123, 124, 12])

124

In [24]:
# 2.

def sum_num(num_lst=[]):
    """
    get a list of nums
    return a sum of list
    """
    if type(num_lst) != list:
        return "Invalid list"
    
    sum_num = 0
    for num in num_lst:
        sum_num += num
    return sum_num

In [26]:
sum_num([1,7,2])

10

In [66]:
# 3.

def multiply_num(num_lst=[]):
    """
    get a list of nums
    return a multiplyed num of list
    """
    if type(num_lst) != list and type(num_lst) != tuple:
        return "Invalid list"
    
    multiplyed_num = num_lst[0]
    
    for num in num_lst[1:]:
        multiplyed_num = multiplyed_num*num
    
    return multiplyed_num

In [68]:
multiply_num((8, 2, 3, -1, 7))

-336

In [70]:
# 4.

def reverse_str(txt):
    """
    get a text
    return a reversed text
    """
    return txt[::-1]

In [74]:
reverse_str("1234abcd")

'dcba4321'

In [78]:
# 5.

def check_only_int(num_lst=[]):
    for num in num_lst:
        if type(num) != int:
            return False
            break
    else:
        return True

In [82]:
check_only_int([1,12.3])

False

In [126]:
# 7.

def count_upper_lower(txt="ASdf"):
    """
    get a text
    return a upper or lower numbers
    """

    txt_lst = txt.split()
    for t in txt_lst:
        if not t.isalpha():
            return "Invalid text"
    
    dic = {"upper": 0, "lower": 0}

    for t in txt:
        if t.isupper():
            dic["upper"] += 1
        elif t.islower():
            dic["lower"] += 1

    return dic

In [130]:
count_upper_lower("The 1")

The

'Invalid text'

In [132]:
# 8.

def get_unique_lst(lst):
    return list(set(lst))

In [134]:
get_unique_lst([1,2,3,4,3])

[1, 2, 3, 4]

In [136]:
# 10.

def get_even_num(num_lst=[]):
    even_lst = []

    if type(num_lst) != list and type(num_lst) != tuple:
        return "Invalid list"

    for num in num_lst:
        if num%2 == 0:
            even_lst.append(num)
    return even_lst

In [142]:
get_even_num([2,3,4])

[2, 4]

In [146]:
# 12.

def is_palindrome(txt=""):
    """
    get a text
    return is palindrome or not
    """

    txt=txt.split()
    txt="".join(txt)

    reversed_txt = txt[::-1]

    if txt == reversed_txt:
        return True
    
    return False