# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [2]:
print("string_value", 1, True, 99.99)

string_value 1 True 99.99

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [4]:
print("string_value", 1, True, 99.99, sep="-")

string_value-1-True-99.99

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [12]:
print("string_value", end=" ")
print(1, end=" ")
print(True, end=" ")
print(99.99)

string_value 1 True 99.99

4) Can a python print function take no value to print???

In [14]:
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [61]:
friend_name = "Mr.Ahmed"
friend_age = 30
friend_profession = "Lawyer"
friend_degree = "Bachlores in Law"
friend_graduation_year = 2005
friend_company_name = "The Himalya Associates"
friend_company_city = "Karachi"
friend_company_since = 2015
friend_height_ft = 5.10
friend_weight_gm = 70600
friend_monthly_income_pkr = "200000"

length_of_monthly_income = len(friend_monthly_income_pkr)
monthly_income_in_k = friend_monthly_income_pkr[:length_of_monthly_income-3]

print(f"One of my friends name is {friend_name}. He is {friend_age} years old. He is a {friend_profession} by profession. He has done his {friend_degree} in the year {friend_graduation_year}. He is working with a reputable/n law firm '{friend_company_name}' in {friend_company_city} since {friend_company_since}. He is a handsome {friend_profession} with height of {friend_height_ft} feets and weight {friend_weight_gm}g. His monthly income is Rs.{monthly_income_in_k}k PKR.") # Print by f-string

One of my friends name is Mr.Ahmed. He is 30 years old. He is a Lawyer by profession. He has done his Bachlores in Law in the year 2005. He is working with a reputable/n law firm 'The Himalya Associates' in Karachi since 2015. He is a handsome Lawyer with height of 5.1 feets and weight 70600g. His monthly income is Rs.200k PKR.

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [31]:
now_year = 2024
years_after_graduation = now_year - friend_graduation_year

print(years_after_graduation)

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [33]:
friend_years_in_company = now_year - friend_company_since

print(friend_years_in_company)

9

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [63]:
today_dollar_rate = 288

#friend_monthly_income_usd = int(int(friend_monthly_income_pkr)/today_dollar_rate) # This is way to convert answer of pkr to usd in floar convert into integer by type casting
friend_monthly_income_usd = int(friend_monthly_income_pkr)//today_dollar_rate # This is way to convert pkr to usd by floor division

print("Friend monthly income in usd:", friend_monthly_income_usd)

Friend monthly income in usd: 694

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [22]:
#11) print the year of birth of Mr. Ahmed.

1994

1994

In [67]:
#type your code here
print(1994)

1994

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [79]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

100/6

16.666666666666668

                       Saylani Mass IT 
             Name   : Nasir Hussain
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332909

In [77]:
student_name = "Nasir Hussian"
student_course = "AI and DS"
student_days = "Tuesday and Thursday"
student_id = "AI-332909"

print(f"""
    Saylani Mass IT
Name: {student_name}
Course: {student_course}
Days: {student_days}
ID: {student_id}
""")

    Saylani Mass IT
Name: Nasir Hussian
Course: AI and DS
Days: Tuesday and Thursday
ID: AI-332909