In [36]:
try:
    int_num = int("123")

    print(int_num)
except ValueError:
    print("Value error")
else:
    print("Print from try except else")
finally:
    print("Print from finally")

123
Print from try except else
Print from finally

In [38]:
try:
    int_num = int("123.1")

    print(int_num)
except ValueError:
    print("Value error")
else:
    print("Print from try except else")
finally:
    print("Print from finally")

Value error
Print from finally

In [98]:
try:
    int_num = int("123")
    
    print(int_num)

    print("sdf".split("a", "ASd"))
except (ValueError,TypeError):
    print("Value error")
else:
    print("Print from else")

123
Value error

In [102]:
try:
    int_num = int("123")
    
    print(int_num)

    print("sdf".split("a", "asd"))
except Exception as e:
    print(e)
else:
    print("Print from else")

123
'str' object cannot be interpreted as an integer