In [195]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("customers/customer_reviews.xlsx")

In [3]:
df.head()

,ReviewID,CustomerID,ProductID,ReviewDate,Rating,ReviewText
0,1,77,18,2023-12-23,3,"Average experience, nothing special."
1,2,80,19,2024-12-25,5,The quality is top-notch.
2,3,50,13,2025-01-26,4,Five stars for the quick delivery.
3,4,78,15,2025-04-21,3,"Good quality, but could be cheaper."
4,5,64,2,2023-07-16,3,"Average experience, nothing special."

In [4]:
df.ReviewText.sample(10)

1291                         The  quality  is  top-notch.
173            I  love  this  product,  will  buy  again!
1206                 The  build  quality  is  impressive.
344            I  love  this  product,  will  buy  again!
513               Average  experience,  nothing  special.
1032    Shipping  was  fast  and  the  item  was  well...
526                             Not  worth    the  money.
1063    The    product  is  okay,  but  the  instructi...
930               Excellent  product,  highly  recommend!
1065                       The  quality  is    top-notch.
Name: ReviewText, dtype: object

In [5]:
df["ReviewText"] = df["ReviewText"].str.replace("  ", " ")

In [6]:
df.ReviewText.sample(10)

18                              The quality is top-notch.
461                     The  build quality is impressive.
45                     Five stars for the quick delivery.
1198                            The quality is top-notch.
1255                   Disappointed with the performance.
90                        Great purchase, very satisfied.
1216                   Customer support was very helpful.
67      The product is okay, but the instructions were...
497     The product is okay, but the instructions were...
655                  Good quality,  but could be cheaper.
Name: ReviewText, dtype: object

In [7]:
# !pip install nltk

In [8]:
import nltk

In [9]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [10]:
nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\dell\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [11]:
sla = SentimentIntensityAnalyzer()`

In [233]:
def calculate_santiment(review):
    if type(review) != str and np.isnan(review):
        return 0
    sentiment = sla.polarity_scores(review)
    return sentiment["compound"]

In [13]:
calculate_santiment("very very bad product")

-0.6214

In [14]:
review_lst = ["I love this product", "this product is average not anything special", "very bad product"]

for i in review_lst:
    sentiment = sla.polarity_scores(i)
    print(f"{i} : {sentiment["compound"]}")

I love this product : 0.6369
this product is average not anything special : -0.3089
very bad product : -0.5849

In [15]:
df["SentimentScore"] = df.ReviewText.apply(calculate_santiment)

In [16]:
df.head()

,ReviewID,CustomerID,ProductID,ReviewDate,Rating,ReviewText,SentimentScore
0,1,77,18,2023-12-23,3,"Average experience, nothing special.",-0.3089
1,2,80,19,2024-12-25,5,The quality is top-notch.,0.0000
2,3,50,13,2025-01-26,4,Five stars for the quick delivery.,0.0000
3,4,78,15,2025-04-21,3,"Good quality, but could be cheaper.",0.2382
4,5,64,2,2023-07-16,3,"Average experience, nothing special.",-0.3089

In [17]:
pd.cut(df.SentimentScore, bins=[-1,0,1]).value_counts()

SentimentScore
(-1, 0]    777
(0, 1]     586
Name: count, dtype: int64

In [18]:
twiter = pd.read_csv("twitter_training.csv")

In [19]:
twiter

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...,...
74676,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74677,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,9200,Nvidia,Positive,Just realized between the windows partition of...
74680,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [20]:
twiter.shape

(74681, 4)

In [21]:
twiter

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,"
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...,...
74676,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74677,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,9200,Nvidia,Positive,Just realized between the windows partition of...
74680,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [22]:
twiter = twiter.set_axis([1,2,3,4], axis=1)

In [23]:
twiter

,1,2,3,4
0,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
1,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
2,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
3,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...
4,2401,Borderlands,Positive,im getting into borderlands and i can murder y...
...,...,...,...,...
74676,9200,Nvidia,Positive,Just realized that the Windows partition of my...
74677,9200,Nvidia,Positive,Just realized that my Mac window partition is ...
74678,9200,Nvidia,Positive,Just realized the windows partition of my Mac ...
74679,9200,Nvidia,Positive,Just realized between the windows partition of...
74680,9200,Nvidia,Positive,Just like the windows partition of my Mac is l...

In [235]:
twiter["Sentiment_Scroe"] = twiter.loc[:,4].apply(calculate_santiment)

In [241]:
twiter.sample(15)

,1,2,3,4,Sentiment_Scroe
39506,5581,Hearthstone,Neutral,Just beat a Demon Hunter with trusty Albo pist...,-0.7553
42399,10074,PlayerUnknownsBattlegrounds(PUBG),Positive,This.. So Is.. Real Bad.. Believe In.. So.. Ma...,0.7733
72959,8898,Nvidia,Neutral,Ubuntu freezes after resume from susopend/hibe...,-0.0258
54663,2188,CallOfDuty,Neutral,@CallofDuty What Can you you please to change ...,0.9045
5946,224,Amazon,Neutral,@ whoppingwooper Thank you for participating i...,0.9643
38451,5393,Hearthstone,Neutral,A fast new music video just went up on the TMP...,0.0000
62677,5145,GrandTheftAuto(GTA),Neutral,I don't mind waiting for GTA 6 if it means no ...,-0.9214
30480,7238,LeagueOfLegends,Positive,So I played League of Legends and smelled some...,0.4005
59115,3333,Facebook,Irrelevant,... Creepy geek not only an intellectual prope...,0.2730
43569,10279,PlayerUnknownsBattlegrounds(PUBG),Irrelevant,All Just having finished my April 2nd youtube ...,0.8588
65669,6847,johnson&johnson,Negative,Literally couldn’t give a fuck less about shit...,-0.6581
72908,8889,Nvidia,Negative,"so like, is there even a video game where nvid...",0.4859
38445,5392,Hearthstone,Negative,Tonight in a Discord streaming bad takes :.. M...,-0.8481
34471,6721,Fortnite,Positive,all the two-day event on my birthday.. best bi...,0.6369
13912,8786,NBA2K,Neutral,<unk> [.. nba2k20lockercodes2020.blogspot.com to],0.0000

In [243]:
# Testing another library for text sentiment analyzation

In [247]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl.metadata (4.4 kB)
Requirement already satisfied: nltk>=3.9 in c:\users\dell\anaconda3\lib\site-packages (from textblob) (3.9.1)
Requirement already satisfied: click in c:\users\dell\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\dell\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\dell\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2024.9.11)
Requirement already satisfied: tqdm in c:\users\dell\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.66.5)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/624.3 kB ? eta -:--:--
   ---------------- ----------------------- 262.1/624.3 kB ? eta -:--:--
   ---------------- ----------------------- 262.1/624.3 kB ? eta -:--:--
   -------------------------------------- 624.3/624.3 kB 701.8 kB/s eta 0:00:00
Installing collected packages: textblob
Successfully installed textblob-0.19.0

In [252]:
from textblob import TextBlob

In [272]:
testimonial = TextBlob("Batool is very dirty girl")
testimonial.sentiment.polarity

-0.78

In [274]:
calculate_santiment("Batool is very dirty girl")

-0.4927